<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/inicio-dark.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1 >AQUA</h1>
            <img src="../stora/img/akar-icons_water.png">
        </div>
        <div class="menu">
            <div class="menu-items">
                <a href="#">INICIO</a></li>
                <a class="sin"href="#">COMO JUGAR</a></li>
                <a class="sin"href="#">APÓYANOS</a></li>
                <a class="sin"href="#">SOBRE NOSOTROS</a></li>
            </div>
        </div>
        <div class="theme">
            <img class="luna"src="../stora/img/bi_moon-fill.png">
            <a class="sol"href="../views/inicio-light.html">
                <img src="../stora/img/akar-icons_sun-fill.png">
            </a>
        </div>
    </div>
    <div class="main">
        <div class="info">
            <img src="../stora/img/Recurso 3 1.png">
            <h1>Somos creatividad, somos Crae</h1>
            <p>Crae es un juego de cartas inclusivo donde personas videntes, no <br> videntes y con discapacidad visual pueden participar y disfrutar en <br> conjunto.</p>
        </div>
        <div class="buy">
            <img src="../stora/img/Recurso 2 (2) 1.png">
            <a class="buy-button" href="#">
                <img src="../stora/img/material-symbols_shopping-cart.png">
                <p>Comprar</p>
            </a>
        </div>
        <div class="right">
            <a href="https://www.instagram.com/">
                <img src="../stora/img/ant-design_instagram-filled.png">
            </a>
            <a href="https://www.facebook.com/">
                <img src="../stora/img/brandico_facebook-rect.png">
            </a>
            <a href="https://kick.com/">
                <img src="../stora/img/Font_Awesome_5_brands_kickstarter 1.png">
            </a>
        </div>
    </div>
</body>
</html>