@import url(variables.css);

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
    background-color: rgb(107, 107, 107);
}

.navbar{
    background-color: red;
    display: flex;
    margin-top: 31px;
    height: 96px;
    /*margin-left: -43px;*/
}

.logo{
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 21px 78px 29px 78px;
    border-radius: 48px;
    margin-left: -43px;
}

.logo img{
    width: 46px;
    height: 45px;
}
.menu{
    margin: auto;
    margin-right: auto;
}
.menu-items{
    margin-top: 49px;
    width: 732;
    height: 38px;
    display: flex;
    gap: 64px;

}

.menu-items a{
    color: white;
}

.theme{
    margin-top: 49px;
    background-color: blue;
    display: flex;
    margin-right: 10px;
}

.luna{
    width: 35px;
    height: 35px;
}

.sol{
    width: 40px;
    height: 40px;
}

.sin{
    text-decoration: none;
}

.main{
    background-color: green;
    margin-top: 39px;
    display: flex;
    margin-left: 100px;
}

.main h1{
    margin-top: 26px;
}

.main p{
    margin-top: 13px;
}

.buy{
    background-color: rgb(255, 0, 200);
    text-align: center;
    align-items: center;
}

.buy-button{
    display: flex;
    background-color: red;
}

.right{
    background-color: chocolate;
}